@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --main-font: 'Montserrat', sans-serif;
    font-size: 62.5%; /*  1rem = 10px */
    scroll-behavior: smooth;
}

body {
    font-family: var(--main-font) !important;
    overflow-x: hidden;
}

h2 {
    padding-bottom: 4rem;
    font-size: 3rem;
    font-weight: 700;
    color: #6A2620;
}

.row {
    max-width: 1000px;
    margin: auto;
}

/*---------------------------------------------------------------*/
/*----------------------------HEADER-----------------------------*/
/*---------------------------------------------------------------*/

.image-header {
    padding: 0 !important;
    height: 100vh !important;
    color: white;
    background-image: url('../imagens/new-header-img.jpg') !important;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.dark-layer {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.486);
}

.text-header {
    position: absolute;
    max-width: 500px;
    top: 160px;
    margin: 0 100px auto;
}

.subtitle {
    color: white;
    font-size: 1.7rem !important;
    font-weight: 500 !important;
    line-height: 2.8rem;
    margin: 25px 0 50px 0 !important;
}

.main-title {
    color: white !important;
    font-size: 4.5rem;
    line-height: 6rem;
    font-weight: 800;
}

.cta {
    width: 200px;
    height: 50px;
    background-color: #ac291d;
    color: white;
    font-weight: 500;
    font-size: 1.5rem;
    transition: ease-in-out .3s;
    border: none;
}

.cta:hover {
    background-color: #f51803;
    box-shadow: 1px 1px 10px rgb(143, 143, 143);
}

/*---------------------------------------------------------------*/
/*----------------------------NAVBAR-----------------------------*/


.navbar {
    padding: 10px !important;
    font-size: 1.4rem;
    line-height: 4rem;
    z-index: 20;
    transition: ease-in-out .3;
}

.nav-link {
    position: relative;
    padding: 20px !important;
    color: white !important;
    font-weight: 600;
    transition: ease-in-out .5s;
}

.nav-link:hover {
    color: white !important;
}

.nav-link::after {
    content: "";
    position: absolute;
    background-color: white;
    height: 2px;
    width: 0;
    left: 0;
    border-radius: 10px;
    top: 5.5rem;
    transition: all ease-in-out .5s;
}

.nav-link:hover:after {
    width: 100%;
}

.navbar-brand {
    width: 100px;
}

.brand {
    width: 90%;
    height: auto;
    margin-left: 10px;
    transition: .3s;
}

.navscroll {
    background-color: #6A2620 !important;
    box-shadow: 1px 1px 5px rgba(110, 105, 105, 0.322);
    line-height: 2rem;
    font-size: 1.3rem;
    transition: all ease-in-out .3s;
}

.navscroll .brand {
    width: 60%;
}

.navscroll .nav-link::after {
    top: 4.5rem;
}

/*---------------------HAMBURGER MENU BUTTON---------------------*/

.navbar-toggler {
    width: 30px;
    height: 20px;
    position: relative;
    transition: .5s ease-in-out;
}


/*Fazer as configurações em active e focus desaparecerem*/
.navbar-toggler, 
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
}

.navbar-toggler span {
    margin: 0;
    padding: 0;
}

.toggler-icon {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.middle-bar {
    margin-top: 0;
    transition: .5s;
}

.middle-bar:active {
    left: -20px;
}

/*Quando a nav é clicada*/

.navbar-toggler .top-bar {
    margin-top: 0;
    transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
    opacity: 0;
    left: -20px;
}

.navbar-toggler .bottom-bar {
    margin-top: 0;
    transform: rotate(-135deg);
}


/*Estado quando a navbar está 'collapsed'*/

.navbar-toggler.collapsed .top-bar{
    margin-top: -20px;
    transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar{
    margin-top: 0px;
    left: 0;
    opacity: 1;
    filter: opacity(100);
}

.navbar-toggler.collapsed .bottom-bar{
    margin-top: 20px;
    transform: rotate(0deg);
}

/*---------------------------FIM NAVBAR--------------------------*/
/*---------------------------------------------------------------*/

/*---------------------------------------------------------------*/
/*--------------------------FIM HEADER---------------------------*/
/*---------------------------------------------------------------*/




/*---------------------------------------------------------------*/
/*-----------------------------MAIN------------------------------*/
/*---------------------------------------------------------------*/

section {
    padding: 12rem 0;
}

.section-color {
    background-color: rgba(224, 205, 204, 0.25);
}

.card-quem-somos {
    border: transparent !important;
    width: 300px;
}

.card1-img-top {
    max-width: 120px;
    margin-bottom: 10px;
    border-radius: 50%;
    border: 3px solid #6A2620;
}

.card {
    width: 275px;
}

.card2-img-top {
    width: 100%;
    margin: 0 !important; 
}

.card-title {
    font-size: 2.6rem;
    line-height: 5.2rem;
    font-weight: 700;
    color: #6A2620;
}

.card-quem-somos-text {
    font-size: 1.7rem !important;
    line-height: 2.8rem;
}

.preco {
    font-size: 3rem;
    font-weight: 600;
}

.card .cta {
    margin-bottom: 10px;
}

/*---------------------------------------------------------------*/
/*----------------------------SWIPER-----------------------------*/
.nossosClientes {
    position: relative;
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
  
.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    background-color: #fff;
    color: #999;
    margin: 0 20px;
    width: 280px;
    height: 400px;
    box-shadow: 1px 1px 5px rgba(46, 44, 44, 0.274);
    filter: blur(3px);
    opacity: 0.8;
}

.quote {
    position: absolute;
    margin-left: 10px;
}

.profile {
    width: 80px !important;
    border-radius: 50%;
}

.card-title {
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.5rem;
    color: #822424;
    margin-bottom: 0;
}

.subtitle-card {
    font-weight: bold;
    font-size: 1.4rem;
    margin: 0;
}

.card-text {
    font-size: 1.5rem;
}

.card-brand {
    width: 60px !important;
}

/*Card em destaque*/
.swiper-slide-active {
    filter: blur(0) !important;
    opacity: 1;
    color: black;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
    background-image: none;
}

.swiper-button-next,
.swiper-button-prev {
    color: #6A2620 ;
}

/*---------------------------------------------------------------*/
/*--------------------------FIM SWIPER----------------------------*/

.fim {
    position: relative;
}

.cta-final {
    margin-top: 60px;
}

.end-text {
    font-size: 4rem;
    line-height: 5.5rem;
    font-weight: 600;
    color: #6A2620
}

.cesto-fim {
    width: 500px;
    height: auto;
}

/*---------------------------------------------------------------*/
/*---------------------------FIM MAIN----------------------------*/
/*---------------------------------------------------------------*/




/*---------------------------------------------------------------*/
/*----------------------------FOOTER-----------------------------*/
/*---------------------------------------------------------------*/

.footer {
    min-height: 250px;
    font-size: 1.2rem;
    padding: 50px;
    color: white;
    background-color: #6A2620;
}

.footer a {
    text-decoration: none;
    color: white;
}

address span {
    font-weight: 700;
    text-decoration: underline;
}

.footer a:hover {
    text-decoration: underline;
}

.logo-footer {
    width: 100px;
    height: auto;
}

.footer li {
    line-height: 5rem;
}

.icon {
    color: white;
    height: 15px;
}

.space {
    margin-top: 20px !important;
}

@media (max-width:577px) {
    .text-header {
        margin: 20px 20px auto;
    }

    .nav-link::after {
        visibility: hidden;
    }

    .div-cta {
        text-align: center !important;
    }

    .card {
        margin-bottom: 60px;
    }

    .card:last-child {
        margin-top: 0 !important;
    }

    .card:last-child {
        margin-bottom: 0px;
    }

    .swiper {
        padding-bottom: 0px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        visibility: hidden;
    }

    .col-6 {
        width: 100% !important;
    }

    .footer .row {
        flex-direction: column;
    }

    .footer .row .col-4{
        margin: auto;
    }
}

@media (max-width:616px) {
    .card-quem-somos {
        margin-bottom: 60px;
    }

    .card-quem-somos:last-child {
        margin-top: 0 !important;
    }

    .card-quem-somos:last-child {
        margin-bottom: 0px;
    }

}

@media (max-width:916px) {
    .card-quem-somos:last-child {
        margin-top: 60px;
    }

    .footer {
        padding-top: 10px;
    }

    .footer .row {
        flex-direction: column;
    }

    .footer .col-4 {
        margin-top: 30px !important;
        width: 100%;
        text-align: center;
    }

    .footer ul {
        padding-left: 0 !important;
    }

    .footer li {
        line-height: 4rem !important;
    }

    .footer li:last-child {
        margin-bottom: 20px;
    }

}


@media (max-width:841px) {
    .card:last-child {
        margin-top: 60px;
    }
}


@media (max-width:1031px) {
    .cta-final {
        margin: auto;
        margin-top: 60px;
    }


    .col-6 {
        width: 100% !important;
        text-align: center;
    }

    .div-cta {
        text-align: center;
    }

    .cesto-fim {
        margin: auto;
        margin-top: 60px;
    }
}